.active{
  color: red;
}
.header-area.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.support-bar::after {
  position: absolute;
  content: "";
  right: -50%;
  top: 0px;
  width: 50%;
  height: 110%;
  background-color: #5acfa4f5;
  border-bottom: 2px solid #5acfa4f5;
}
.support-bar::before {
  content: "";
  position: absolute;
  left: -47px;
  background-color: #5acfa4f5;
  margin-left: 12px;
  border-bottom: 2px solid #5acfa4f5;
  border-right-style: solid;
  border-right-color: #ff6700;
  border-right-width: thick;
  width: 100px;
  height: 120%;
  top: 0px;
  -webkit-transform: skewX(37deg);
  -ms-transform: skewX(37deg);
  transform: skewX(37deg);
}
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}
.navbar {
  box-shadow: none !important;
    padding-top: 11px;
    /* right: -21px; */
    padding-left: 41px;
}
.pmenu{
  padding: 10px 0px !important;
      font-size: small;
}
.br-redius{
      border-radius: 6px;
      height: 17rem;
        overflow: auto;
}
.ft-color{
  color: chocolate;
}
body {
  margin-top: 20px;
}

.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  text-align: center
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 2px;
      margin-top: -17px;
  background-color: #4f4f4f2e;
  content: '';
  z-index: 1
}

.steps .step .step-icon-wrap::before {
  left: 0
}

.steps .step .step-icon-wrap::after {
  right: 0
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  top: 8px;
    width: 30px;
    height: 30px;
  border: 1px solid #4f4f4f63;
  border-radius: 50%;
  background-color: #fff;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
  display: none
}

.steps .step:last-child .step-icon-wrap::after {
  display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #0da9ef
}

.steps .step.completed .step-icon {
  border-color: #0da9ef;
  background-color: #0da9ef;
  color: #fff
}

@media (max-width: 576px) {

  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 768px) {

  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 991px) {

  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

@media (max-width: 1200px) {

  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none
  }
}

.bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
}
.btn-custom{
  border-radius: 25px;
    text-transform: initial;
}
.btn-cs{
  background: #A6407C;
    color: #fff;
}
.btn-cse{
      background: #284070;
      color: #fff;
}
.bg-custom {
  background-color: #F8F8F8;
}
.bg-customf{
  background-color: #F5F5F5;
}
.bg-cust{
  background: #f3f5f7;
}
.cust-css{
  float: left;
    padding-left: 40px;
    padding-top: 21px;
}
.p-cust{
  float: left;
    padding-top: 3.5rem;
    margin-left: -1rem;
}
